@import "../settings/mixin.scss";
@import "../settings/reset.scss";
@import "../settings/variable.scss";

//* Footer
.footer {
  @include size(100%, auto);
  padding: 30px 20px;
  background-color: rgb(46 46 46);

  &__contactMe {
    @include size(100%, auto);
    border-bottom: 2px solid rgba(85, 85, 85, 0.3);
    padding: 0px 40px 30px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__email {
      @include size(50%, auto);
      // padding: 0px 0px 0px 100px;
      display: flex;
      align-items: center;
      //   background-color: red;

      .logoEmail {
        @include size(20%, auto);
        text-align: center;

        .icon {
          padding: 10px;
          font-size: 2em;
          color: $colorPrimary;
          border: 2px solid $colorPrimary;
          border-radius: 50%;
        }
      }

      .inputEmail {
        @include size(80%, auto);
        display: flex;

        input {
          @include size(120%, 50px);
          padding: 0px 10px;
          border: 2px solid $colorPrimary;
          border-radius: 10px 0px 0px 10px;
          color: white;
          background-color: #3e3e3e;
          outline: none;
        }

        button {
          padding: 5px 15px;
          background-color: #3e3e3e;
          border-radius: 0px 10px 10px 0px;
          border: 2px solid $colorPrimary;
          border-left: none;
          color: $colorPrimary;

          .icon {
            font-size: 1.5em;
          }
        }
      }
    }

    &__social {
      @include size(50%, auto);
      text-align: right;
      //   background-color: red;

      span {
        .icon {
          font-size: 1.5em;
          color: white;
          margin-left: 50px;
          padding-top: 15px;

          &:hover {
            color: $colorPrimary;
          }
        }
      }
    }
  }

  &__others {
    @include size(100%, auto);
    padding: 2% 5%;
    display: flex;
    align-items: flex-start;

    &__logo {
      @include size(35%, auto);

      img {
        @include size(100%, auto);
      }
    }

    &__info {
      @include size(65%, auto);
      color: white;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .box {
        @include size(30%, auto);

        ul {
          list-style-type: none;
          line-height: 40px;

          a {
            color: white !important;
            text-decoration: none;

            &:hover {
              color: $colorPrimary;
            }
          }
        }
      }

      .listBranch {
        @include size(70%, auto);

        ul {
          line-height: 30px;
          list-style-type: none;

          li {
            .icon {
              margin: 0px 0.1% 0px 0px;
            }
          }
        }
      }
    }
  }

  &__bottom {
    @include size(100%, auto);
    padding-top: 25px;
    border-top: 2px solid rgba(85, 85, 85, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__copyRight {
      @include size(50%, auto);
      color: $colorPrimary;
      font-size: 0.8em;
    }

    &__payment {
      @include size(50%, auto);
      color: white;

      span {
        .icon {
          font-size: 2em;
          padding: 0px 5% 0px 0px;

          &:hover {
            color: $colorPrimary;
          }
        }
      }
    }
  }
}
