@import "../settings/mixin.scss";
@import "../settings/reset.scss";
@import "../settings/variable.scss";

//* TODO: Responsive 1200px
@media screen and (max-width: 1000px) {
  //* Completed: News&Events - Navigation
  .newsEvent__navbar {
    display: none;
  }

  .newsEvent__detail {
    @include size(85%, auto);

    .box:last-child {
      padding-bottom: 5%;
    }
  }

  //* Completed: Room Detail -  Slider
  .roomDetails__slider {
    .roomDetails__slider__main {
      @include size(100%, auto);
    }

    .roomDetails__slider__navbar {
      @include size(600px, auto);
      margin: auto;
      padding: 0px;
    }
  }

  .roomInfo__info {
    .roomInfo__info__image {
      width: 100%;
    }

    .roomInfo__info__content {
      width: 100%;
    }
  }

  //* Completed: Careers
  .careers__container__info__content,
  .careers__container__opportunities p {
    padding: 4% 0px;
  }

  .careers__container__contact__image,
  .careersIntership__image {
    display: none;
  }

  .careers__container__contact__info {
    @include size(100%, auto);
  }

  .careers__container__note__frame {
    margin-top: 0px;
    padding: 3%;
  }

  .careersIntership-SECTION {
    section {
      .careersIntership__info {
        @include size(100%, auto);
        padding: 5%;
        margin-bottom: 5%;
      }
    }
  }

  .careers__container__opportunities {
    .careersFrame {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 801px) {
  .section {
    //* Completed: Home - Our Events
    .ourEvent__box__name {
      p {
        font-size: 1.5em;
        margin: 0px;
        padding: 3%;
      }
    }

    //* Completed: Rooms
    .rooms {
      .rooms__image {
        @include size(50%, auto);
      }

      .rooms__introduction {
        @include size(50%, auto);
        padding: 0px 2%;

        .rooms__introduction__title {
          font-size: 1.5em;
        }

        .rooms__introduction__content {
          font-size: 0.8em;
          margin-bottom: 0px;
        }

        button {
          font-size: 0.6em;
          margin-top: 0px;
        }
      }
    }
  }

  //* Completed: About - Atatistic
  .aboutStatistic-SECTION {
    .about__statistic__container__content {
      .box {
        .box__count {
          font-size: 3em;
        }
      }
    }
  }
}

//* TODO: Responsive 1200px
@media screen and (max-width: 1200px) {
  .section {
    //* Completed: Home - OurRooms
    .ourRooms__content {
      margin: 20px 0px;
    }

    .info__other {
      span {
        font-size: 0.9em;
      }
    }

    //* Completed: Home - AboutUs
    .aboutUs {
      padding-bottom: 10%;

      .aboutUs__image {
        padding-bottom: 10%;

        .aboutUs__image__2 {
          width: 50%;
          top: 5%;
          right: 10%;
        }
      }
    }
  }

  //* Completed: Booking
  .section {
    .booking {
      .booking__body {
        justify-content: space-between;

        .booking__body__navbar {
          width: 40%;
          padding: 0px;
        }

        .booking__body__content {
          display: block;

          .calendar {
            width: 90%;
            margin: auto;
            margin-bottom: 5%;
          }

          .roomInfo {
            padding-left: 3%;
          }

          .allRoomSelected {
            width: 90%;
            margin: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
}

//* TODO: Responsive 1400px
@media screen and (max-width: 1400px) {
  .section {
    @include size(100%, auto);
    margin-bottom: 0px;

    //* Completed: Home - Comment
    .comment__box {
      .comment__box__image {
        width: 20%;
      }

      .comment__box__customer {
        width: 80%;
        padding: 0px 2%;
      }
    }

    .rooms {
      padding: 2%;
    }
  }

  //* Completed: Room Detail - Infomation
  .roomDetails {
    .roomDetails__slider {
      padding: 0px 3%;
    }

    .roomDetails__info {
      padding: 3%;
    }

    .roomDetails__othersRooms {
      padding: 2%;
    }
  }

  //* Completed: Booking
  .booking {
    padding: 2%;

    .booking__body__content {
      padding: 0px;
    }
  }

  //* Completed: Careers
  .careers {
    padding: 5%;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
}
