@import "../settings/mixin.scss";
@import "../settings/reset.scss";
@import "../settings/variable.scss";

//* TODO: Responsive 320px
@media screen and (max-width: 320px) {
  //* Completed: Slider
  .navbar-expand-lg {
    height: 40px !important;

    .navbar-toggler {
      font-size: 1em;
      padding: 0px 0px 7px 0px;
    }
  }
}

//* TODO: Responsive 370px
@media screen and (max-width: 370px) {
  //* Completed: Slider
  .carousel-inner {
    .carousel-caption {
      h3 {
        font-size: 1em;
        margin: 0px;
      }
    }
  }

  .section {
    //* Completed: Home - OurRoom
    .ourRooms {
      .ourRooms__title {
        font-size: 1.3em;
      }
    }
  }

  .contact {
    .contact__feedback {
      input {
        font-size: 0.7em;
        padding: 2%;
      }

      .contact__feedback__content {
        height: 150px !important;

        textarea {
          font-size: 0.7em;
          padding: 2%;
          // height: 200px !important;
        }
      }

      .contact__feedback__send {
        font-size: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 370px) and (min-width: 321px) {
}

//* TODO: Responsive 480px
@media screen and (max-width: 480px) {
  //* Completed: Slider
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none !important;
  }

  .section {
    //* Completed: Home - Our Rooms
    .ourRooms {
      border-bottom: 10px dotted $colorPrimary !important;

      .ourRooms__content {
        font-size: 0.8em;
      }

      .ourRooms__box__info {
        .info__other {
          span {
            font-size: 0.7em;
          }
        }
      }
    }

    //* Completed: Home - AboutUs, News
    .aboutUs,
    #news {
      border: none !important;
    }

    //* Completed: Home - News
    .news {
      .news__box {
        width: 100% !important;
        padding: 10%;

        .news__box__content {
          font-size: 1.2em;
        }
      }
    }
  }

  //* Completed: SupSlider
  .supSlider {
    height: 30vh !important;

    .supSlider__title {
      font-size: 1.4em !important;
    }
  }

  //* Completed: Rooms
  .rooms {
    .rooms__introduction__title {
      font-size: 1.2em;
    }

    .rooms__introduction__price {
      font-size: 0.7em;
    }

    .rooms__introduction__content {
      font-size: 0.7em;
    }
  }

  //* Completed: Contact - Map
  .contactMap {
    height: 200px;
  }

  //* Completed: About - Infomation
  .about__info {
    padding: 5%;

    .about__info__image {
      @include size(100%, auto);
    }

    .about__info__description {
      @extend .about__info__image;
    }

    &:first-child {
      padding-bottom: 0px;
    }
  }

  //* Completed: About - Atatistic
  .aboutStatistic-SECTION {
    section {
      .about__statistic {
        height: 150px !important;

        .about__statistic__container {
          padding: 4% 0px;

          .about__statistic__container__title {
            font-size: 1em;
          }

          .about__statistic__container__content {
            .box {
              .box__count {
                font-size: 0.9em;
              }

              .box__content {
                font-size: 0.4em;
              }
            }
          }
        }
      }
    }
  }

  //* Completed: About - Team
  .section {
    .about__team {
      .about__team__title {
        font-size: 1em;
        padding: 5%;
      }

      .about__team__member {
        .card {
          .card__image {
            @include size(60%, auto);
          }

          .card__info {
            .card__info__name {
              font-size: 0.9em;
            }

            .card__info__description,
            .card__info__position {
              font-size: 0.7em;
            }
          }

          .card__info__social {
            .icon {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  //* Completed: Footer
  .footer {
    .footer__contactMe {
      padding: 0px 2% 5% 2%;

      .footer__contactMe__email {
        padding: 0px !important;

        .logoEmail {
          .icon {
            font-size: 1.2em;
          }
        }

        .inputEmail {
          input {
            height: auto;
            font-size: 0.8em;
          }

          button {
            .icon {
              font-size: 1.2em;
            }
          }
        }
      }

      .footer__contactMe__social {
        span {
          .icon {
            font-size: 1.2em;
          }
        }
      }
    }

    .footer__others {
      .footer__others__info {
        .box {
          @include size(90%, 200px);
          overflow-y: scroll;
          margin: 5% auto;
          border: 2px solid $colorPrimary;
          border-radius: 10px;
        }

        .listBranch {
          @include size(100%, auto);

          ul {
            margin-left: -5%;
          }
        }
      }
    }

    .footer__bottom {
      .footer__bottom__copyRight {
        @include size(100%, auto);
      }

      .footer__bottom__payment {
        @include size(100%, auto);
        margin-top: 5%;

        span {
          .icon {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 371px) {
  //* Completed: Slider
  .active {
    .carousel-caption {
      h3 {
        font-size: 1.5em;
        margin: 0px;
      }
    }
  }
}
