@import "../settings/variable.scss";
@import "../settings//mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  // font-size: 16px;
}

//* CSS for Body of pages
.bodyMain {
  margin-top: -92px;
}

//* CSS for Link
a {
  text-decoration: none !important;
  color: black !important;
}

//* Custom Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(103, 92, 27, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $colorPrimary;
  border-radius: 10px;
}
