* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  // font-size: 16px;
}

// .bodyWeb {
//   width: 100%;
//   height: auto;
//   position: relative;
// }

//* CSS for Link
a {
  text-decoration: none !important;
  color: black !important;
}
