@import "../settings/mixin.scss";
@import "../settings/reset.scss";
@import "../settings/variable.scss";

//TODO: Custom Logo on Navbar
.logoHotel {
  @include size(60px, auto);
}

.navbar {
  opacity: 0.8;
  background-color: rgba(138, 137, 137, 0.8);
}

.navbar-nav {
  width: 100% !important;
  justify-content: space-around !important;
  padding: 0px 15% !important;
}

#navbarScroll .navbar-nav {
  margin-right: 0px !important;
}

@media screen and (max-width: 1250px) {
  .navbar-nav {
    padding: 0px 10% !important;
  }
}

.nav-link {
  color: white !important;
  font-weight: 900 !important;
}

.activeClass {
  color: gold !important;
  border-bottom: 3px solid $colorPrimary !important;
  padding-bottom: 0px !important;
}

.navbarInfo {
  @include size(200px, auto);
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  padding: 0px 0px 0px 0px;

  &__phone:hover {
    color: $colorPrimary;
  }
}

@media screen and (max-width: 1100px) {
  .navbarInfo {
    display: none;
  }
}

.navbar-toggler:focus {
  color: white;
}

.navbar-nav-scroll {
  max-height: 300px !important;
}

#colorChangeNavbar {
  background-color: $colorPrimary !important;
  color: goldenrod !important;
  top: -2px !important;
  transition: all 0.5s linear;
}

.navbar-toggler:active .ourRooms__title {
  // margin-top: -342px !important;
  color: red !important;
}

// #navbarID:focus-within {
//   background-color: red !important;
// }

//TODO: Slider
.carousel-control-prev-icon {
  width: 3rem !important;
  height: 3rem !important;
  background-image: url("../../Assets/Slider/Previous.png") !important;
}

.carousel-control-next-icon {
  width: 3rem !important;
  height: 3rem !important;
  background-image: url("../../Assets/Slider/next.png") !important;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid transparent !important;
  border-radius: 10px;
}

.carousel-caption {
  width: auto !important;

  h3 {
    @include size(auto, auto);
    font-family: $mainFont;
    // font-size: 4rem;
    font-size: 300%;
    text-shadow: 6px 6px 7px $colorPrimary;
    margin-bottom: 5%;
  }
}

.carousel-item {
  img {
    filter: brightness(90%);
    object-fit: cover;
  }
}

.carousel-control-next {
  margin: 0px 40px 0px 0px !important;
  width: 100px !important;
}

.carousel-control-prev {
  margin: 0px 0px 0px 40px !important;
  width: 100px !important;
}

//* Custom size slider
@media (min-width: 1400px) {
  .carousel-item img {
    height: 800px !important;
  }
}

//TODO: Header Topline
.header__topline {
  @include size(100%, auto);
  background-color: rgba(138, 137, 137, 0.8);
  color: white;
  position: relative;
  z-index: 50;

  &__container {
    padding: 5px 0px;
    margin: 0px 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;

    &__left {
      @include size(75%, auto);

      span {
        font-size: 0.75em;
        font-weight: bold;

        &:last-child {
          padding: 0px 0px 0px 20px;
        }
      }
    }

    &__right {
      @extend .header__topline__container__left;
      @include size(25%, auto);
      text-align: right;

      span {
        // padding: 0px 0px 0px 25px;
        font-size: 0.75em;
        font-weight: bold;

        &:hover {
          color: $colorPrimary;
        }

        &:first-child {
          padding: 0px 0px 0px 20px;
        }
      }
    }
  }
}
