@import "../settings/mixin.scss";
@import "../settings/reset.scss";
@import "../settings/variable.scss";

// TODO: SupSlider
.supSlider {
  @include size(100%, 50vh);
  position: relative;

  &__background {
    @include size(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../Assets/Slider/background-others-page.jpg) 0% 220% /
      cover no-repeat fixed;
  }

  &__title {
    @include size(auto, auto);
    font-family: $mainFont;
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: 6px 6px 7px $colorPrimary;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
  }
}

// TODO: Arrow go top
.arrowGoTop {
  @include size(50px, 50px);
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: $colorPrimary;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  animation: arrowGoTop 1s linear;

  &__icon {
    @include size(70%, auto);
    margin-top: 20%;
    color: white;
  }
}

@keyframes arrowGoTop {
  0% {
    transform: scale(-1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

// TODO: Booking Now
.bookingNow {
  @include size(100px, 100px);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 25%;
  right: 20px;

  &__close {
    &__content {
      @include size(100%, auto);
      position: absolute;
      padding: 25px 0px;
      text-align: center;
      font-weight: 900;
      color: $colorPrimary;
    }

    .star1 {
      @include size(100%, 100%);
      position: absolute;
      background-color: red;
    }

    .star2 {
      @extend .star1;
      transform: rotate(30deg);
    }

    .star3 {
      @extend .star1;
      transform: rotate(60deg);
    }

    span {
      font-size: 1.5em;
      position: absolute;
      top: -25px;
      right: -15px;
      color: $colorPrimary;
      cursor: pointer;
    }
  }

  &__open {
    @include size(100%, 100%);
    background-color: greenyellow;
    border-radius: 50% 0% 0% 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -73px;

    span {
      rotate: 90deg;
      text-align: center;
      font-size: 0.8em;
      font-weight: 900;
      color: $colorPrimary;
      position: absolute;
      top: 30%;
      right: 40%;
    }
  }
}

// TODO: List Branch
.branch {
  li {
    list-style-type: none;

    .icon {
      padding-right: 15px;
      color: $colorPrimary;
    }
  }
}
